.selectWrapper {
    position: relative;
    display: inline-block;
}

.Select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #0b0e12;
    padding: 16px;
    border: none;
    border-radius: 4px;
    color: #b4b5b6;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.2s;
    outline: none;
    position: relative;

    &:hover {
        background-color: #0f1318;
    }

    &:active {
        border: 1px solid #171d25;
    }
}

.option {
    padding: 24px;
}

.arrowIcon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    transition: transform 0.3s ease-in-out;
    pointer-events: none;
    width: 16px;
    height: 16px;
}

.open {
    transform: translateY(-50%) rotate(180deg);
}
